nav {
  margin: 0;
  padding: 0;
  animation: bgcolor infinite 20s;
}

.page-section.clearfix {
}

:root {
  scroll-behavior: smooth;
}

#mainNav {
  color: #212529;
  background-color: rgb(14,14,14);
  height: 100px;
}

